body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  margin: 0%;
  background-color: #f2f3f4;
}

nav, footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f3f4;
  height: 5vh;
  font-size: 1.2em;
  padding: 5px;
  border-bottom: 1px solid #c1c9d6;
  color: #00b4d8;
}

footer {
  border-top: 1px solid #c1c9d6;
}

footer a {
  margin-left: 5px;
}

.container {
  min-height: 90vh;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upcoming-content {
  margin: 10px 0px;
  box-shadow: 0 1px 10px 1px #2b2d42;
  width: 80%;
  border-radius: 10px;
}

.game-image {
  border-radius: 10px 10px 0 0;
}

.game-image img {
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.game-info {
  display: flex;
  align-content: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #f2f3f4;
  border-radius: 0 0 10px 10px;
}

.date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 1px solid;
  padding: 5px;
  width: 20%;
}

.game {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);

  padding: 5px;
  width: 100%;

  background-repeat: no-repeat;
  background-size: cover;
}

.game-title {
  text-align: left;
  grid-column: 1;
  grid-row: 1;
}

.game-website {
  display: flex;
  align-items: center;
  justify-content: right;

  grid-row: 1 / 3;
}

.game-website a {
  padding: 5px;
  border-radius: 10px;
}

.platform-info {
  float: left;
  display: flex;
  border: 1px solid transparent;
  border-radius: 15px;
  white-space: nowrap;
  align-content: center;
  margin: 5px 10px 0 0;
  padding: 3px;
  text-decoration: none;
  color: black;
  box-shadow: 0 0 1px 1px #656d78;
}

.platform-info:hover {
  text-decoration: underline;
}

.game-platforms {
  width: 100%;
}

@media (orientation: landscape) and (max-height: 500px) and (min-width: 750px) {
  .game-image {
    display: none;
  }

  .game-info {
    border-radius: 10px;
  }
}

@media (min-width: 810px) and (max-width: 811px), (min-width: 1080px) {
  .content-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .upcoming-content {
    width: 30%;
    margin: 10px;
  }

  .game-info {
    min-height: 120px;
  }

  .game-image img {
    width: 100%;
  }
}

@media (min-width: 1080px) {
  .upcoming-content {
    width: 20%;
  }

  .game-title, .date {
    font-size: 1.2em;
  }
}

@media (min-width: 2560px) {
  nav, footer {
    font-size: 1.6em;
    padding: 0;
  }

  .upcoming-content {
    width: 15%;
    margin: 20px;
  }

  .game-title, .date {
    font-size: 1.4em;
  }

  .platform-info {
    font-size: 1.2em;
  }
}

@media (min-width: 3840px) {
  nav, footer{
    font-size: 2em;
  }

  .game-title, .date {
    font-size: 1.8em;
  }

  .platform-info {
    font-size: 1.6em;
  }
}